.container {
  display: flex;
  flex-direction: column;
  margin-right: 7%;
  width: 23.7%;
  height: 154px;
  padding-left: 166px;
}
.Box {
  height: 50px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.title {
  padding-top: 13px;
  font-size: 18px;
}
.input {
  width: 100%;
  height: 50px;
}
