.container {
  width: 455px;
  height: 54px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-left: 300px;
}

.remove {
  width: 20px;
  height: 20px;
}
