.title {
  /* position: absolute; */
  width: 788px;
  height: 175px;
  left: 85px;
  top: 72px;
  color: #fe3b1f;
  font-size: 64px;
}
.img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 618px;
  top: 629px;
}
.container {
  width: 455px;
  display: flex;
  gap:16px;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
  height: 700px;
}
.Stepper {
  position: absolute;
  bottom:40px;
  left: 15%;
}
.select {
  margin-left: 500px;
  width: 455px;
}
